@import '../../scss/variables';

.root {
  li {
    display: inline-block;

    a {
      text-align: center;
      width: 45px;
      line-height: 42px;
      height: 45px;
      border: 1px solid $main;
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;
      display: inline-block;
      color: $main;

      @media (max-width: 420px) {
        width: 40px;
        height: 40px;
      }

      &:hover {
        background-color: $main;
        color: #fff;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: $main;
        color: #fff;
      }
    }
  }
  text-align: center;
}
